.list_categories {
    background-color:#eeeeee;
    display:inline;  
    margin-left:80%;
  }

  .ul_categories_list button{
      display: flex;  
      flex-direction: row;
      justify-content: center;  
      margin-top: 5px;
      position: relative;
      bottom: 0;
      margin-left: 5px;
      align-items: center;
      padding: 6px 8px;
      max-width: calc((60%) - 60px);
      font-size: 10px;
      font-weight: 700;
      /* color: #fff; */
      background-color: #87d7eb;
      border:none;
  }

  .ul_categories_list button:hover{
    background-color: #079ec4;

   }

   .ul_categories_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
