
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
// body{
// 	line-height: 1.5;
// 	font-family: 'Poppins', sans-serif;
// }
// *{
// 	margin:0;
// 	padding:0;
// 	box-sizing: border-box;
// }
.footer_container{
	max-width: 1170px;
	margin:auto;
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.footer_row{
	display: flex;
	flex-wrap: wrap;
}
.footer_list li{
	list-style: none;
}
.footer{
	background-color: #378043;
    padding: 30px 0;
}
.footer_col{
   width: 250px;
   padding: 0 10px;
}
.footer_col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer_col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #d1903b;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer_col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer_col ul li a{
	list-style: none;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer_col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.social_links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(114, 218, 45, 0.685);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social_links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

ul .footer_end{
    display: inline;
}

ul .footer_end li{
    display: inline;
    margin-right: 50%;
    justify-content: center;
	list-style: none;

}

/*responsive*/
@media(max-width: 767px){
  .footer_col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer_col{
    width: 100%;
}
}

.footer_subscription_text {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
    margin-bottom: 5px;
	transition: all 0.3s ease;
}

.footer_input {
    padding: 0px 0px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}

.social_logo {
    height: 40px;
    width: 100px;
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin-top:25px;
    margin-bottom: 16px;
    margin-left: 555px;;
}

.website_rights {
    color: #fff;
    margin-bottom: 16px;
    margin-left: 500px;;
}

@media screen and (max-width: 820px) {
    .footer_links {
        padding-top: 2rem;
    }

    .footer_input {
        width: 100px
    }

    .btn {
        width: 100px
    }

    .footer_links_wrapper {
        flex-direction: column;
    }

    .social_media_wrap {
        flex-direction: column;
    }
}