.modalBackground {
    width: 400px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blur{
    width: 100vh;
    height: 100vh;
    backdrop-filter: blur(3px);
    position: absolute;
  }
  
  .modalContainer {
    width: 400px;
    height: 30px;
    // border-radius: 12px;
    background-color: transparent;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // display: grid;
    // flex-direction: column;
    padding: 25px;
    margin: 0px -700px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

.createEventForm input {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 30px;
  margin:20px;
}

.modal_ol {
  width: 21%;
  display: flex;
    margin:20px;

}


.createEventForm {
    position: relative;
  
    width  : 440px;
    height : 698px;
    margin : 0 auto;
  
    background: #9ccc9c;
  }